extends layout

block body
  body#homepage
    div.logo
      img(src="/images/logo-w.png")
    div.name
      | Grace Chi


    div.content
      div.container
        div.row
          div.col-md-4
            img.img-responsive(src="/images/categories/studio.jpg")
            div.title
              | Studio
          div.col-md-4
            img.img-responsive(src="/images/categories/industry.jpg")
            div.title
              | Industry
          div.col-md-4
            img.img-responsive(src="/images/categories/artisan.jpg")
            div.title
              | Artisan
