doctype html
html
  head
    meta(http-equiv='Content-Type', context='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='')

    title='Grace Chi'

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/lodash/dist/lodash.min.js')
    script(type='text/javascript', src='/bower_components/twitter/dist/js/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  block body
