extends layout

block body
  body#maintenance
    div.logo
      img(src="/images/logo-w.png")
    div.name
      | Grace Chi

    div.contact
      a(href="mailto:grace@gracechi.us")
        i.fa.fa-envelope-o(data-toggle="tooltip", data-placement="top", title="Email")
      a(href="/resume.pdf", target="_new")
        i.fa.fa-file-text-o(data-toggle="tooltip", data-placement="top", title="Resume")

  script(type="text/javascript", src="/javascripts/homepage.js")
  script(type="text/javascript")
    | $(document).ready(function() { $('[data-toggle="tooltip"]').tooltip(); });
    | $(document).ready(function() { var homepage = new Homepage(); });